.curriculum-section {
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cenefa-img-divider8{
  width: 390px;
    height: auto;
}

.curriculum-title{
    margin-top: 5rem;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #6e6e6e;
}

/* ===================== RESPONSIVE DESIGN ===================== */
@media screen and (max-width: 768px) {
    .main-content {
    margin: 0 30px!important;
    padding: 0!important;
    margin-bottom: 5rem!important;
}
.qs-title{
  margin-bottom: 4rem!important;
}
.qs-subtitle {
    font-size: 1.5em;
   
}


}




/* ===================== DECORATIVE SHAPES ===================== */
.shape {
  position: absolute;
  z-index: 5;
  transition: all 0.3s ease;
}

.shape:hover {
  opacity: 1;
  transform: scale(1.1);
}

.shape img {
  width: 80px;
  height: auto;
  pointer-events: none;
}

/* Posiciones iniciales aleatorias para cada shape */
.shapeb-1 {
  top: 26%;
  left: 14%;
  transform: scalex(-1);
}
.shapeb-1 img{
  width: 100px;
}

.shapeb-2 {
  top: 27%;
  right: 3%;
}
.shapeb-2 img{
  width: 100px;
}

.shapeb-3 {
  top: 83%;
  left: 8%;
}
.shapeb-3 img{
  width: 200px;
}


.shapeb-4 {
  top: 89%;
  right: 5%;
  transform: scaleX(-1);
}

.shape-4 img{
  width: 100px;
}

.shapeb-5 {
  top: 90%;
  left: 72%;
}

.shapeb-5 img{
  width: 200px;
}

/* Ocultar shapes en pantallas menores a 1200px */
@media screen and (max-width: 1199px) {
  .shape {
    display: none;
  }
}