.curriculum-section {
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cenefa-img-divider8{
  width: 390px;
    height: auto;
}

.curriculum-title{
    margin-top: 5rem;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #6e6e6e;
}

/* ===================== RESPONSIVE DESIGN ===================== */
@media screen and (max-width: 768px) {
    .main-content {
    margin: 0 30px!important;
    padding: 0!important;
    margin-bottom: 5rem!important;
}
.qs-title{
  margin-bottom: 4rem!important;
}
.qs-subtitle {
    font-size: 1.5em;
   
}


}
